@import "../../assets/style/color.scss";

.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Mui-selected.Mui-selected {
    color: $myChatMessage;
  }

  .MuiTabs-indicator {
    background-color: $myChatMessage;
  }

  .login_page-tab {
    font-weight: bold;
    color: $unselectedText;
  }
}
