@import "../../assets/style/color.scss";

.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-GC {
    position: relative;

    &-hat {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      top: -1rem;
      right: 0;
      left: 0;
      margin: auto;
    }
  }

  .Mui-selected.Mui-selected {
    color: $myChatMessage;
  }

  .MuiTabs-indicator {
    background-color: $myChatMessage;
  }

  .login_page-tab {
    font-weight: bold;
    color: $unselectedText;
  }
}
