@import "../../assets/style/color.scss";

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $commonGray;
  padding: 0 0.5rem;

  &-front {
    padding-left: 0.2rem;
  }

  &-end {
    padding-right: 0.2rem;
  }

  &-content {
    flex: 1;
    border: none;
    outline: none;

    fieldset {
      border: none;
    }
  }

  svg {
    transform: translateY(2px);
  }
}
