$commonGray: #d0d0d0;
$lightGray: #e4e4e4;
$unselectedText: #b3b3b3;
$blackText: #444444;
$myChatMessage: #405a86;
$asideBgc: #f7f7f7;
$contactItemHover: #e8e8e8;
$errorTips: #ff5f5f;
$grayTips: #afafaf;
$maskBgc: #0000006b;
