.contact_item {
  display: flex;
  align-items: center;
  padding: 0 0.2rem;

  &-info {
    display: flex;
    padding: 0 1rem;

    &-name {
      line-height: 1;
      transform: translateY(1px);
    }

    &-unread {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      text-align: center;
      background-color: red;
      color: white;
      font-weight: 500;
      font-size: 0.75rem;
      min-width: 20px;
      padding: 0px 6px;
      margin-left: 0.5rem;
      height: 20px;
      border-radius: 10px;
    }
  }
}
