@import "../../assets/style/color.scss";

.aside {
  display: flex;
  position: relative;
  width: 17rem;
  height: 100vh;
  overflow: scroll;
  background-color: $asideBgc;
  box-sizing: border-box;

  &-opts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    background: $myChatMessage;

    &-avatar {
      margin-bottom: 1rem;
    }

    &-btn {
      padding: 0.5rem 0.3rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;

      &:hover {
        background-color: $blackText;
      }
    }
  }

  &-content {
    flex: 1;
    padding: 0.2rem;
    overflow-y: scroll;

    &-opts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;

      &-input {
        border: 1px solid $myChatMessage;
        border-radius: 999px;
        width: 85%;
        height: 1.5rem;
        padding: 0 0.2rem;
        display: flex;
        align-items: center;

        input {
          background-color: transparent;
          width: calc(100% - 1.8rem);
          font-size: 0.8rem;
          padding-left: 0.4rem;
        }

        &-icon {
          width: 1rem;
          height: 1rem;
          cursor: pointer;
        }
      }

      &-add {
        width: 1.2rem;
        height: 1.2rem;
        cursor: pointer;
      }
    }
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.2rem 0.5rem;
    border-bottom: 1px solid $commonGray;

    &-opts {
      display: flex;

      &-search {
        position: relative;

        &-input {
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
          z-index: -1;
          right: 0;
          border-radius: 999px;
          background-color: #fff;
          opacity: 0;
          font-size: 0.8rem;
          border: 1px solid $commonGray;

          &.unfocus {
            animation: input-out 0.3s linear;
            @keyframes input-out {
              0% {
                opacity: 1;
                width: 7rem;
                padding: 0 1.5rem 0 0.5rem;
              }
              100% {
                opacity: 1;
              }
            }
          }

          &.focus {
            animation: input-in 0.3s linear forwards;
            @keyframes input-in {
              0% {
                opacity: 1;
              }
              100% {
                opacity: 1;
                width: 7rem;
                padding: 0 1.5rem 0 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
