.chat_content {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;

  &-message {
    flex: 1;
    overflow-y: scroll;
  }

  &-input {
    padding: 0.3rem;
  }

  &-default {
    flex: 1;
    padding-left: 2rem;

    &-background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      max-width: 20rem;
      opacity: 0.2;
    }
  }
}
